body {
    color: white;
}

#chat {
    margin-top: 1rem;
    background-color: rgba(137, 130, 130, 0.741);
    height: 80vh; /* 80% de la altura de la ventana del navegador */
    max-height: 72vh; /* Para asegurarse de que no exceda el 80% de la altura de la ventana */
  border-radius: 1rem;
    overflow-y: auto; /* Habilita el desplazamiento vertical cuando el contenido excede la altura máxima */
    margin-right: 1rem;
    margin-left: 1rem;
}


#name-form {
    margin-top: 20px;
    margin-left: 0rem;
   
}

#eldiv{
width: 95%;
justify-content: center;
margin-left: auto;
margin-right: auto;

}


#right{

background-color: #94a9bd3e;
border-radius: 2rem;
margin-bottom: 1rem;
}


#name-form label {
    
    font-size: 18px;
    color: #333;
}

#name-form input {
   margin-left: 1rem;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid green;
    padding: 10px;
   width: 70%;
    margin-top: 1rem;

    
}

.col {
    
    background-color: #f8f9fa; /* Color de fondo */
    border-color: #dee2e6; /* Color del borde */
    color: #495057; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 2px; /* Margen inferior */
}
#container {
    background: green;


}

#div-to {
    margin-left: 1rem;
   }

#div-ul {

    margin-top: 2rem;
    margin-left: 0rem;
    border: 0, 5px solid gray;
    border-radius: 1rem;
    width: 10rem;
    height: 20rem;
}

#user-list {

    height: 5rem;
}